<nav>
  <a href=/>Home</a>
  <a href=/licenses>Licenses</a>
  <a href=/posts>Posts</a>
  <a href=/contribute>Contribute</a>
  <a href=/what-is-polyform>What is PolyForm?</a>
  <a href=/adopters>Adopters</a>
</nav>
