<nav>
  <a href=/>Home</a>
  <a href=/licenses>Licenses</a>
  <a href=/adopters>Adopters</a>
  <a href=/contribute>Contribute</a>
  <a href=/announcements>Announcements</a>
  <a href=/about>About</a>
</nav>
