html { font-size: 2.0vw; }

@media all and (min-width:1000px) {
  html { font-size: 20px; }
}

@media all and (max-width:520px) {
  html{ font-size: 14px; }
}

html {
  background-color: #fefefe;
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.45;
  text-rendering: optimizeLegibility;
}

body > header,
body > nav,
body > main,
body > footer {
  margin: 1rem auto;
  max-width: 33rem;
  padding: 0 1rem;
  text-align: left;
}

body > header {
  padding-top: 1rem;
  margin-bottom: 0;
  padding-bottom: 0;
}

body > footer {
  border-top: 1px solid black;
  margin-top: 2rem;
  padding-top: 1rem;
  text-align: right;
}

a[href] {
  color: #3344dd;
  text-decoration: none;
}

a[href]:hover {
  text-decoration: underline;
}

a[href]:hover,
a[href]:focus,
a[href]:active {
  color: #bb1122;
}

a[href]:visited {
  color: #884488;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.25;
  margin-bottom: 0.8rem;
  margin-top: 2rem;
}

img {
  max-width: 100%;
}

p, address, li {
  margin: 0 0 0.8rem 0;
}

ul, ol {
  margin-top: 0.8rem;
}

li > p {
  margin-bottom: 0;
}

.dateline {
  font-style: italic;
  margin-bottom: 1rem;
  display: block;
}

.posts {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    margin: 1rem 0;
  }
}

.plainTextDownload {
  display: inline-block;
  cursor: pointer;
  padding: 1rem;
  border: 1px solid black;
  background-color: black;
  text-decoration: none;
  color: white !important;
  &:hover {
    background-color: white;
    color: black !important;
    text-decoration: none;
  }
}

body > nav {
  margin-bottom: 1rem;
  margin-top: 1rem;
  @media print { display: none !important; }
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0 1rem;
  flex-wrap: wrap;
  a[href] {
    display: inline-block;
  }
}

.licenses {
  tr td:first-child {
    padding-right: 1rem;
  }
}

.versions {
  list-style-type: disc;
}

.third {
  max-width: 33.3%;
}

.adopters {
  list-style-type: none;
  padding: 0;
  li {
    border: 1px solid black;
    border-radius: 0.5rem;
    padding: 1rem;
  }
}
