<!doctype html>
<html lang=en-US>
  <head>
    <%- include('meta') %>
    <title>Redirecting</title>
    <meta http-equiv=refresh content="0;url=<%= to %>">
  </head>
  <body>
    <main>
      <p>Redirecting to <a href="<%= to %>"><%= to %></a>
    </main>
  </body>
</html>
